@use "./base/reset" as *;
@use "./base/variables" as *;
@use "./base/responsive" as *;
@use "./layout/canvas" as *;
@use "./layout/sections" as *;
@use "./components/about" as *;
@use "./components/loader" as *;
@use "./components/header" as *;
@use "./components/contact" as *;
@use "./components/socials" as *;
@use "./components/projects" as *;
@use "./components/experience" as *;

html {
  font-family: $main-font;
  font-size: map-get($map: $font-sizes, $key: base);
}

body {
  background: $background;
  color: $text-main;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.03;
  pointer-events: none;
  z-index: 1000;
}
