@use "./base/reset" as *;
@use "./base/typography" as *;
@use "./abstracts/functions" as *;
@use "./layout/layout" as *;
@use "./components/about" as *;
@use "./components/loader" as *;
@use "./components/header" as *;
@use "./components/footer" as *;
@use "./components/resume" as *;
@use "./components/contact" as *;
@use "./components/socials" as *;
@use "./components/projects" as *;
@use "./components/experience" as *;

html {
  font-family: font(main);
  font-size: size(base);
  scroll-padding-top: 90px;
}

body {
  background: clr(background-main);
  color: clr(text-primary);
  overflow-x: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased;

  &.loading {
    overflow-y: hidden;
  }
}
