@use "./base/reset" as *;
@use "./base/typography" as *;
@use "./abstracts/mixins" as *;
@use "./abstracts/functions" as *;
@use "./layout/layout" as *;
@use "./components/about" as *;
@use "./components/loader" as *;
@use "./components/header" as *;
@use "./components/footer" as *;
@use "./components/resume" as *;
@use "./components/contact" as *;
@use "./components/socials" as *;
@use "./components/projects" as *;
@use "./components/experience" as *;

html {
  font-family: font(main);
  font-size: 16px;
  scroll-padding-top: 90px;

  @include responsive(lg) {
    font-size: 15px;
  }

  @include responsive(sm) {
    font-size: 14px;
  }
}

body {
  background: clr(background-main);
  color: clr(text-primary);
  overflow: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased;

  &.ready {
    overflow-y: auto;
  }
}
