@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.mouse-glow {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: gradient(mouse-glow);
}

.page {
  position: relative;
  margin-top: 90px;
}

.container {
  width: min(100% - 48px, bp(xxl));
  margin-inline: auto;
}

.section-item {
  min-height: 100vh;
  padding: 20px 0;

  @include responsive(lg) {
    min-height: auto;
    padding: 40px 0;

    &:first-child {
      padding-top: 20px;
    }
  }

  &-title {
    margin-bottom: size(3xl);
    font-weight: 700;
    text-transform: uppercase;

    @include responsive(lg) {
      margin-bottom: size(2xl);
    }
  }

  &-label {
    display: inline-block;
    margin-bottom: size(3xs);
    @include text-style(
      $size: sm,
      $spacing: 1px,
      $color: primary,
      $transform: uppercase
    );
  }
}
