@use "../abstracts/functions" as *;

* {
  scrollbar-width: thin;
  scrollbar-color: clr(primary) clr(background-main);
}

::-webkit-scrollbar {
  width: get-scrollbar-width();
}

::-webkit-scrollbar-track {
  background: clr(background-main);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, clr(primary-light), clr(primary));
  border-radius: 10px;
  border: 1px solid clr(border-accent);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  transition: background anim(fast);

  &:hover {
    background: linear-gradient(
      to bottom,
      clr(primary-light),
      clr(primary-light)
    );
    box-shadow:
      inset 0 0 6px rgba(0, 0, 0, 0.3),
      0 0 12px clr(primary);
  }
}
