@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.hero {
  max-width: 900px;
  margin-bottom: size(4xl);

  &-title {
    font-weight: 700;
    line-height: 0.85;
    letter-spacing: -0.06em;
    text-transform: uppercase;

    span {
      @include text-outline;
    }
  }

  &-text {
    margin-top: size(2xl);
    @include text-style(
      $size: lg,
      $color: text-dim,
      $line-height: 1.8,
      $spacing: 0,
      $font: main
    );
  }
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 15px;
}

.tech-card {
  padding: 25px 15px;
  @include layout-flex($dir: column, $gap: 15px);
  @include effect-glass;

  transition:
    border-color anim(fast),
    transform anim(fast),
    background-color anim(fast);

  i {
    font-size: size(4xl);
    color: clr(text-dim);
    transition: all anim(fast);
  }

  span {
    opacity: 0.7;
    @include text-style($size: xxs, $transform: uppercase);
  }

  &:hover {
    border-color: clr(accent);
    background-color: clr(accent-dim);

    i {
      color: clr(accent-bright);
      transform: scale(1.1);
    }
  }
}
