@use "../base/variables" as *;

.experience-box {
  border-left: 1px solid $border;
  padding-left: 35px;
}
.exp-item {
  position: relative;
  margin-bottom: 60px;
}
.exp-item::before {
  content: "";
  position: absolute;
  left: -41.5px;
  top: 8px;
  width: 12px;
  height: 12px;
  background: $accent;
  border-radius: 50%;
  box-shadow: 0 0 15px $accent;
}
.exp-date {
  font-family: "JetBrains Mono";
  color: $accent;
  font-size: 0.8rem;
  font-weight: 500;
}