@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

$dot-size-base: 10px;
$dot-size-hover: 15px;
$offset-left: -35px;

.experience-box {
  max-width: 900px;
  padding-left: 30px;
  border-left: 1px solid clr(border-subtle);
}

.exp-item {
  position: relative;
  margin-bottom: size(5xl);
  transition: all anim(fast) ease-out;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: $offset-left;
    top: 7px;
    width: $dot-size-base;
    height: $dot-size-base;
    border-radius: radius(circle);
    background: clr(primary);
    box-shadow: 0 0 15px clr(primary);
    transition: all anim(fast) ease-out;
  }

  &:hover {
    padding-left: 3px;

    &::before {
      left: $offset-left - 3px;
      width: $dot-size-hover;
      height: $dot-size-hover;
    }
  }

  &-date {
    @include text-style(
      $color: primary,
      $size: sm,
      $spacing: 1px,
      $transform: uppercase
    );
  }

  &-role {
    margin: size(2xs) 0;
    font-weight: 600;
    line-height: 1.2;
  }

  &-company {
    display: inline-block;
    margin-bottom: 12px;
    transition: color anim(fast);
    @include text-style($size: sm, $color: text-muted, $spacing: 0.5px);

    &:hover {
      color: clr(primary);
    }
  }

  &-desc {
    max-width: 800px;
    color: clr(text-muted);
    text-align: justify;
    line-height: 1.6;
  }
}
