@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.footer {
  width: 100%;
  padding: 40px 8%;
  border-top: 1px solid clr(border-subtle);
  backdrop-filter: effect(glass-blur);

  @include responsive(md) {
    padding: 35px 6%;
  }

  &-content {
    @include layout-flex;
    @include responsive(md) {
      flex-direction: column;
      gap: size(xl);
      text-align: center;
    }
  }

  &-text {
    @include text-style($size: xs, $color: text-muted, $transform: uppercase);
  }

  &-socials {
    display: none;

    @include responsive(md) {
      @include layout-flex($gap: size(lg));
    }
  }
}
