@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.footer {
  width: 100%;
  padding: size(2xl) 0;
  border-top: 1px solid rgba(255, 255, 255, 0.06);

  @include responsive(md) {
    padding: size(xl) 0;
  }

  &-content {
    @include layout-flex;

    @include responsive(md) {
      flex-direction: column;
      gap: size(xl);
      text-align: center;
    }
  }

  &-text {
    @include text-style(
      $size: xs,
      $color: text-muted,
      $transform: uppercase,
      $height: 1.5
    );
  }

  &-socials {
    display: none;

    @include responsive(md) {
      @include layout-flex($gap: size(sm));
    }
  }
}
