@use "../base/variables" as *;

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 8%;
  backdrop-filter: map-get($effects, glass-blur);
  border-bottom: 1px solid map-get($colors, border);
  z-index: 1000;
}

.logo {
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;

  .role {
    margin-top: 2px;
    color: map-get($colors, text-dim);
    font-family: map-get($fonts, mono);
    font-size: map-get($sizes, xxs);
    letter-spacing: 2px;
  }

  .name span {
    color: map-get($colors, accent);
  }
}

.hamburger {
  display: none;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;

  span {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px 0;
    background: map-get($colors, text-main);
    transition:
      transform map-get($animation-time, fast),
      opacity map-get($animation-time, fast);
  }
}

.nav a {
  margin-left: 35px;
  opacity: 0.5;
  color: map-get($colors, text-main);
  font-size: map-get($sizes, sm);
  font-family: map-get($fonts, mono);
  text-transform: uppercase;
  transition:
    opacity map-get($animation-time, fast),
    color map-get($animation-time, fast);

  &:hover {
    opacity: 1;
    color: map-get($colors, accent-bright);
  }
}
