@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.loader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: clr(background-main);
  @include layout-flex($dir: column);

  &-text {
    @include text-style(
      $size: sm,
      $color: text-primary,
      $spacing: 5px,
      $transform: uppercase
    );
  }

  &-bar {
    width: 180px;
    height: 2px;
    margin-top: 15px;
    background: clr(border-soft);
  }

  &-progress {
    height: 100%;
    width: 0;
    background: clr(primary);
    box-shadow: 0 0 15px clr(primary);
  }
}
