@use "../base/variables" as *;

.loader {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: map-get($colors, background);
  z-index: 9999;

  .loader-text {
    font-family: map-get($fonts, mono);
    color: map-get($colors, text-main);
    letter-spacing: 5px;
    font-size: map-get($sizes, sm);
    text-transform: uppercase;
  }

  .loader-bar {
    width: 180px;
    height: 2px;
    margin-top: 15px;
    background: map-get($colors, neutral-weak);

    .loader-progress {
      height: 100%;
      width: 0;
      background: map-get($colors, accent);
      box-shadow: 0 0 15px map-get($colors, accent);
    }
  }
}
