@use "../base/variables" as *;

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 60px;
}
.project-row {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 60px;
  align-items: center;
}

.project-info h3 {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 20px;
  font-weight: 800;
  letter-spacing: -1px;
}
.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 25px 0;
}
.project-tags span {
  font-family: "JetBrains Mono";
  font-size: 0.6rem;
  background: rgba(155, 107, 255, 0.05);
  border: 1px solid $border;
  padding: 6px 12px;
  border-radius: 8px;
  color: $accent-bright;
}
.project-preview {
  height: 420px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid $border;
  border-radius: 35px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}
.code-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 24px;
  border: 1px solid $accent;
  color: $accent;
  text-decoration: none;
  font-family: "JetBrains Mono";
  font-size: 0.75rem;
  border-radius: 12px;
  transition: 0.3s;
}
.code-btn:hover {
  background: $accent;
  color: #000;
  box-shadow: 0 10px 20px rgba(155, 107, 255, 0.2);
}
