@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.side-socials {
  position: fixed;
  bottom: 0;
  left: 40px;
  z-index: 100;

  @include layout-flex($dir: column, $gap: 25px);

  @include responsive(xxl) {
    display: none;
  }

  &::after {
    content: "";
    width: 1px;
    height: 100px;
    margin: 0 auto;
    background: linear-gradient(to bottom, clr(primary), transparent);
  }
}

.social-link {
  color: clr(text-muted);
  font-size: size(xl);
  transition:
    color anim(fast),
    transform anim(fast);

  &:hover {
    color: clr(primary);
    transform: translateY(-5px);
  }
}
