
@media (max-width: 968px) {
  section {
    padding: 100px 5% 60px 5%;
  }
  .side-socials {
    display: none;
  }
  .project-row,
  .contact-grid {
    grid-template-columns: 1fr;
    gap: 40px;
    direction: ltr !important;
  }
  .project-preview {
    height: 300px;
  }
}