h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
  line-height: 1.2;
  font-weight: 600;
}

h1 {
 font-size: clamp(3rem, 10vw, 6.5rem);
}

h2 {
  font-size: clamp(2rem, 5vw, 3rem);
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0 0 1em;
  padding-left: 1.5rem;
}

img {
  max-width: 100%;
  display: block;
}
